---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Mason Mitcham. All rights reserved.
	<div class="rss">
		<a href="/rss.xml">RSS feed</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.rss {
		margin-top: 1em;
	}
	.rss a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.rss a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
